<!DOCTYPE html>
<h2 class = "sub-header">Profile</h2>
<center><p>This is your own personal profile. Here you can manage the artists and labels 
that you follow. You can also update your profile.</p></center>

Name: <%= @current_user.name %>
 </br>
Age: <%= time_ago_in_words ( @current_user.dob )%>
</br>
 
Your Labels: <%%>

</br>
Your Artists:

