<!DOCTYPE html>
<html>
	<head>
		<meta content = "text/html; charset=UTF-8" http equiv="Content-Type" />
	</head>
	<body>
		<h1>Welcome to Music 247, <%= @user.name %></h1>
		<p>You have successfuly signed up </p>
		<p>Thanks for joining, enjoy the site!</p>
	</body>
</html>